<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>AlaMode Remote</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
          <link rel="stylesheet" type="text/css" href="{{ static_url("view.css") }}" media="all"></link>
      <link rel="stylesheet" type="text/css" href="{{ static_url("ui.css") }}" media="all"></link>
      <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
      <script type="text/javascript" src="{{ static_url("jquery-ui.js") }}"></script>
      <script type="text/javascript" src="{{ static_url("view.js") }}"></script>
    </meta>
  </head>
  <body id="main_body" >
    <!--img id="top" src="{{ static_url("top.png") }}" alt="" width=800px></img-->
    <div id="form_container">
      <h1><a>AlaMode Remote Control</a></h1>
      <form id="form_521396" class="appnitro"  method="post" action="">
	<div class="form_description">
	  <h2>AlaMode Remote Control</h2>
	  <p>Web interface to AlaMode pins</p>
	</div>
	<table border="0">
	<tr><th></th><th></th><th colspan="2">Digital</th><th><pre>           </pre></th><th colspan="3">Analog</th></tr>
	  {% for pin_id in range(2, 14) %}
      <tr>
      <td>{{ pin_id }}</td>
      <td>
	    <td>
	      <input id="digi_input_{{ pin_id }}" name="digi_io_{{ pin_id }}" class="element radio" type="radio" value="mode/{{ pin_id }}/input"/>
	      <input id="digi_output_{{ pin_id }}" name="digi_io_{{ pin_id }}" class="element radio" type="radio" value="mode/{{ pin_id }}/output" checked="checked"/>
	    </td> 
	    <td>
	      <input id="digi_value_{{ pin_id }}" name="digi_value_{{ pin_id }}" class="element checkbox" type="checkbox" value="value/{{ pin_id }}"/>
	    </td>
	    {% if pin_id < 8 %}
	    <td></td>
	    <td>
	      <input id="analog_input_{{ pin_id - 2 }}" name="analog_io_{{ pin_id - 2 }}" class="element radio" type="radio" value="mode/{{ pin_id - 2 }}/sample"/>
	      <input id="analog_output_{{ pin_id - 2 }}" name="analog_io_{{ pin_id - 2 }}" class="element radio" type="radio" value="mode/{{ pin_id - 2 }}/off" checked="checked"/>
	    </td> 
	    <td>
	      <input id="analog_value_{{ pin_id - 2 }}" name="analog_value_{{ pin_id - 2 }}" class="element textbox" type="text" size="5" disabled="true"/>
	    </td>	      
	    <td>
	    	{{ pin_id - 2 }}
	    </td>	      
	    {% end %}
	  </tr>
	  {% end %}
    </table>
</form>	
    </div>
<div id="progressbar"></div>
<script>
$( "#progressbar" ).progressbar({
    value: 37
    disabled=false
});
</script>
    <div id="log"></div>
  </body>
</html>
