<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>AlaMode Remote</title>
      <link rel="stylesheet" type="text/css" href="{{ static_url("view.css") }}" media="all"></link>
      <script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
      <script type="text/javascript" src="{{ static_url("view.js") }}"></script>
    </meta>
  </head>
  <body id="main_body" >
    <img id="top" src="{{ static_url("top.png") }} alt="" width="3""></img>
    <div id="form_container">
      <h1><a>AlaMode Remote Control</a></h1>
      <form id="form_521396" class="appnitro"  method="post" action="">
	<div class="form_description">
	  <h2>AlaMode Remote Control</h2>
	  <p>Web interface to AlaMode pins</p>
	</div>						
	<ul >
	  
	  <li id="li_1" >
	    <label class="description" for="element_1">Digital Pins </label>
	    <span>
	      <input id="element_1_2" name="element_1_2" class="element checkbox" type="checkbox" value="2" />
	      <label class="choice" for="element_1_2">Digital 2</label>
	      <input id="element_1_3" name="element_1_3" class="element checkbox" type="checkbox" value="3" />
	      <label class="choice" for="element_1_3">Digital 3</label>
	      <input id="element_1_4" name="element_1_4" class="element checkbox" type="checkbox" value="4" />
	      <label class="choice" for="element_1_4">Digital 4</label>
	      <input id="element_1_5" name="element_1_5" class="element checkbox" type="checkbox" value="5" />
	      <label class="choice" for="element_1_5">Digital 5</label>
	      <input id="element_1_6" name="element_1_6" class="element checkbox" type="checkbox" value="6" />
	      <label class="choice" for="element_1_6">Digital 6</label>
	      <input id="element_1_7" name="element_1_7" class="element checkbox" type="checkbox" value="7" />
	      <label class="choice" for="element_1_7">Digital 7</label>
	      <input id="element_1_8" name="element_1_8" class="element checkbox" type="checkbox" value="8" />
	      <label class="choice" for="element_1_8">Digital 8</label>
	      <input id="element_1_9" name="element_1_9" class="element checkbox" type="checkbox" value="9" />
	      <label class="choice" for="element_1_9">Digital 9</label>
	      <input id="element_1_10" name="element_1_10" class="element checkbox" type="checkbox" value="10" />
	      <label class="choice" for="element_1_10">Digital 10</label>
	      <input id="element_1_11" name="element_1_11" class="element checkbox" type="checkbox" value="11" />
	      <label class="choice" for="element_1_11">Digital 11</label>
	      <input id="element_1_12" name="element_1_12" class="element checkbox" type="checkbox" value="12" />
	      <label class="choice" for="element_1_12">Digital 12</label>
	      <input id="element_1_13" name="element_1_13" class="element checkbox" type="checkbox" value="13" />
	      <label class="choice" for="element_1_13">Digital 13</label>
	    </span> 
	  </li>
	  
	  <li class="buttons">
	    <input type="hidden" name="form_id" value="521396" />
	  </li>
	</ul>
      </form>	
    </div>
    <img src="{{ static_url("bottom.png") }}" id="bottom" alt=""> </img>
    <div id="log"></div>
  </body>
</html>
